openapi: 3.2.0
info:
  title: ToHuman Submit API
  version: '2026-09-25'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-25: 6 operation(s) read from 20 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; ToHuman has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 4
    documentation: 2
    pages-with-code: 20
    pages-read: 20
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-25'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://tohuman.io/ai-humanizer-api
  - https://tohuman.io/playground
  - https://tohuman.io/use-cases/saas
  - https://tohuman.io/docs/quickstart
  - https://tohuman.io/docs/humanizations
  - https://tohuman.io/tutorials/zapier-humanize-ai-text
  - https://tohuman.io/tutorials/humanize-ai-text-api-guide
  - https://tohuman.io/tutorials/n8n-humanize-ai-text
  - https://tohuman.io/tutorials/make-humanize-ai-text
  - https://tohuman.io/tutorials/crewai-humanize-ai-text
  - https://tohuman.io/tutorials/autogen-humanize-ai-text
  - https://tohuman.io/tutorials/langchain-humanize-ai-text
  - https://tohuman.io/tutorials/mcp-server-humanize-ai-text
  - https://tohuman.io/use-cases/email-campaigns
  - https://tohuman.io/use-cases/marketing
  - https://tohuman.io/use-cases/chatbots
  - https://tohuman.io/use-cases/edtech
  - https://tohuman.io/chatgpt-plugin
  - https://tohuman.io/compare/tohuman-vs-undetectable-ai
  - https://tohuman.io/compare/writehuman-alternative
servers:
- url: https://astral.sh
security:
- bearer: []
tags:
- name: Submit
paths:
  /submit:
    post:
      operationId: post_submit
      tags:
      - Submit
      summary: Async endpoint for Undetectable.ai
      description: Submit text and receive a document ID; later GET the document object to obtain the humanized output.
      x-source: https://tohuman.io/ai-humanizer-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostSubmitRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostSubmitResponse'
      x-evidence:
        kind: documentation
components:
  schemas:
    PostSubmitResponse:
      type: object
      properties:
        document_id:
          type: string
          description: ID to retrieve the processed document later
    PostSubmitRequest:
      type: object
      properties:
        content:
          type: string
          description: Text to be humanized
      required:
      - content
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
